.auth-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
  gap: 30px;
}

@media screen and (max-width:768px) {
  .auth-nav {
    margin-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  .auth-nav {
    margin-right: 14px;
    gap: 14px;
  }
}